body{
    background-color: whitesmoke;

    font-family: Georgia, serif;text-align: center;
}
h1{font-family: Impact, sans-serif;text-align: center;}
h2{font-family: Impact, sans-serif;text-align:center;}
image{object-position: center;}
